* {
  margin: 0;
  padding: 0;
}

.simulation {
  width: 800px;
  padding-top: 1em;
  padding-bottom: 1em;
  background: grey;
  position: absolute;
  left: 35%;
}

.simulation div:hover {
  cursor: pointer;
}

.simulation div:hover text {
  fill: red;
}

.brain, .facial, .neck, .throax, .upper-abdomen, .lower-abdomen,
.pelvis, .lower-extremity-upper, .lower-extremity-lower {
  width: 80%;
  text-align: center;
  background: grey;
}

.brain {
  border: 2px dashed darkgray;
}

.part-section {
  display: flex;
  flex-direction: row;
}

.part-tip {
  width: 20%;
  position: relative;
  top: -0.6em;
  margin-left: 5px;
  color: white;
}

.last-tip {
  position: relative;
  width: 20%;
  margin-left: 5px;
  color: white;
}

.last-tip-top {
  position: absolute;
  top: -0.6em;
}

.last-tip-bottom {
  position: absolute;
  bottom: -0.5em;
}

.facial, .neck, .throax, .upper-abdomen, .lower-abdomen,
.pelvis, .lower-extremity-upper, .lower-extremity-lower {
  border-left: 2px dashed darkgrey;
  border-right: 2px dashed darkgrey;
  border-bottom: 2px dashed darkgrey;
}

svg {
  margin-bottom: -4px;
}

text {
  transform: translate(50%, 60%);
  text-anchor: middle;
  fill: white;
}